@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schoolbell&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #d7e7e7;
}

h1 {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Schoolbell", cursive;
    font-size: 2em;
    background-color: #95b9c0;
    padding: 30px;
    width: 400px;
    border-radius: 50px;
    text-align: center;
}

button {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    border: 0px;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    /* Largura definida é necessária */
    margin: 0 auto;
    margin-top: 50px;
    background-color: #5c697c;
}

button:hover {
    background-color: #30302f;
    width: 155px;
    height:55px;
    cursor:pointer;
}

.quadrado {
    width: 79px;
    height: 79px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    background-color: transparent;
}
#tabuleiro {
    width: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    width: 335px;
    height: 335px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
p{
    margin:25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}